#second-page{
  border-radius: 4px;
  box-shadow:1px 1px 2px #ccc;
  position: absolute;
  width: 727px;
  height: 580px;
  left: 145px;
  top: 127px;
  vertical-align: center;
  background-color: #ffffff;
}
  .second-header {
  background-image: url('../images/header4.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  border:1px solid #ccc;
  border-radius: 4px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 142px;
  z-index: 1;
  background-color: #00b9e6;
}

.block4{
  position: absolute;
  height: 379px;
  width:100%;
  top:142px;
  background-color: #ffffff;
  z-index: 0;
  border-bottom: 1px solid #e0dede;
}

.attachment{
  position: absolute;
  height: 270px;
  width:100%;
  top:109px;
  background-color: #ffffff;
  z-index: 0;  
  overflow-x: hidden;
  overflow-y: scroll;
}

.send{
  border: none;
  padding: 0;
  padding-top: 10px;
  outline: none;
  background: none;
  color:#00b9e6;
  font-family: Roboto;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  top:91%;
  left: 90%;
  z-index: 3;
}

.name{
  position: absolute;
  top: 40px;
  left: 40px;
  width: 300px;
}

.email{
  position: absolute;
  margin-left:20px;
  top: 40px;
  left:340px;
  width:300px;
}

.message{
    position: absolute;
    left:40px;
    top:70px;
    width:620px;
  }

.attachment-counter{
  position: absolute;
  margin-left:20px;
  top: 90px;
  left:20px;
  width:300px;
}

.attached {
  list-style: none;
  margin: 0;
  margin-left: 60px;
  margin-top: 10px;
  font-family: Roboto-Medium;
  color: black;
  position: relative;
}

.author-result{
  float:left;
  margin:0;
  width: 15%;
}

.author-info{
  float: right;
  margin:0;
  margin-right:160px;
}

.source-icon{
  margin: 0;
  position: absolute;
  width:16px;
  height: 16px;
  background-image: url('../images/links.png');
  left:-30px;
}

.trashcan{
  position: absolute;
  outline: none;
  left:600px;
  background: url('../images/trashcan.png'); 
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  width: 16px;
  height: 16px;
}
