#secondPage{
  border-radius: 4px;
  box-shadow: 1px 1px 2px #ccc;
  position: absolute;
  width: 727px;
  height: 580px;
  left: 145px;
  top: 127px;
  vertical-align: center;
  background-color: #ffffff;
}

.second-header{
  background-image: url('../images/header4.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 4px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 142px;
  background-color: #00b9e6;
}

.send-name{
  height: 80px;
  width: 306px;
  padding-left: 36px;
  float: left;
}

.send-email{
  height: 80px;
  width: 306px;
  padding-right: 62px;
  float: right;
}

.result{
  position: absolute;
  height: 379px;
  width: 100%;
  top: 142px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0dede;
}

.attachment{
  position: absolute;
  height: 200px;
  width: 100%;
  top: 179px;
  background-color: #ffffff;
  overflow-y: scroll;
}

.send{
  border: none;
  padding: 0;
  padding-top: 10px;
  outline: none;
  background: none;
  color: #00b9e6;
  font-family: Roboto;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  top: 91%;
  left: 90%;
}

.label{
  position: absolute;
  top: 26px;
  font-family: Roboto-Medium;
  font-size: 12px;
}

.namelabel{
  left: 40px;
  color: #a8a8a8;
}

.emaillabel{
  left: 360px;
  color: #00b9e6;
}

.name{
  position: absolute;
  top: 40px;
  left: 40px;
  width: 300px;
  font-family: Roboto-Medium;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: solid 2px #d7d7d7;
  padding-top: 5px;
  padding-bottom: 10px;
}

.email{
  position: absolute;
  margin-left: 20px;
  top: 40px;
  left: 340px;
  width: 300px;  
  font-family: Roboto-Medium;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: solid 2px #00b9e6;
  padding-top: 5px;
  padding-bottom: 10px;
}

.message{
    position: absolute;
    left: 40px;
    top: 100px;
    width: 620px;    
    font-family: Roboto-Medium;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: solid 2px #d7d7d7;
    padding-top: 5px;
    padding-bottom: 10px;
  }

.attachment-counter{
  position: absolute;
  margin-left: 20px;
  top: 150px;
  left: 20px;
  width: 300px;
  font-size: 18px;
  font-family: Roboto-Medium;
  color: #00b9e6;
}

.attached{
  list-style: none;
  width: 85%;
  margin: 0;
  margin-left: 80px;
  margin-top: 10px;
  font-family: Roboto-Medium;
  font-size: 14px;
  color: black;
  padding-bottom: 7px;
}

.icon{
  margin: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 40px;
}

.trashcan{
  position: absolute;
  outline: none;
  left: 600px;
  background: url('../images/trashcan.png'); 
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  width: 16px;
  height: 16px;
  z-index: 1;
}

.documents-icon{
   background-image: url('../images/docs.png');
}

.links-icon{
  background-image: url('../images/links.png');
}

.science-icon{
  background-image: url('../images/science.png');
}