.header {
  background-color: #ffffff;
  border-color:  #a8a8a8;
  box-shadow: 0 0 2px 1px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 104px;
}

h2{
  position: relative;
  margin:0;
  font-size: 18px;
  font-family: Roboto-Medium;
  color:#ffffff;
  left:8%;
  top:70%;
}

.blockhead {
  height: 142px;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  }

.header1 {
  background-image: url('../images/header.png');
  background-color: #eb5e4c;
}

.header2 {
  background-image: url('../images/header2.png');
  background-color: #00b9e6;  
}

.header3 {
  background-image: url('../images/header3.png');
  background-color: #0f9d58;
}

.col{
  position: absolute;
  height: 578px;
  width:309px;
  border:1px solid #ccc;
  border-radius:4px;
  box-shadow:1px 1px 2px #ccc;
  top:17%;
  background-color: #ffffff;
}

.documents { 
  left:2.5%;
}

.links {
  left:35%;
}

.science-lab {
  left:67.5%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


p{
  margin:0;
}

.col li{
  margin: 0;
  margin-top: 10px;
  font-family: Roboto-Medium;
  color: #b7b7b7;
  position: relative;
  }

.col p{
  margin-left: 50px;
  margin-top: 3px;
  line-height: 16px;
}

.documents p{
  margin-right: 40px;
}

.links p,
.science-lab p{
  margin-right: 90px;
}

.title-printed{
  font-size: 14px;
  color:#8b8b8b;
}

 .description-printed{
  font-size: 11px;
  font-family: Roboto-Medium;
  line-height: 16px;
}
.col input[type=checkbox]{
  outline: none;
  position: absolute;
  left: 10px;
  -webkit-appearance: none;
  -webkit-user-select: none;
  vertical-align: -10px;
}
.col input[type=checkbox]{
  background: url('../images/checkbox-empty.png');
  height: 16px;
  width: 16px;
}
.col input[type=checkbox]:checked{
  background: url('../images/checkbox-checked.png');
  height: 16px;
  width: 16px;
  padding: 0 0 0 0px;
}

.addall, 
.removeall {
  border: none;
  padding: 0;
  padding-top: 10px;
  outline: none;
  background: none;
	font-family: Roboto;
	font-size: 16px;
	text-transform: uppercase;
	position: absolute;
	top:91%;
	left: 66%;
}

.addall1{
	color:#eb5e4c;
}

.addall2{
	color:#00b9e6;
}

.addall3{
	color:#0f9d58;
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Morning;
    src: url(../fonts/Morning_Star.ttf);
}

.your {  
  font-family: Roboto;
  font-size: 14px;
  color: #656565;
  font-size: 36px;
  position: absolute;
  left: 44%;
  top: 20%;
}

.test {
  font-size: 14px;
  text-transform: uppercase;  
  font-family: Morning;
  color: #00b9e6;
  font-size: 30px; 
  left: 54%;
  top:24%;
  position: absolute;
}