input[type="checkbox"]{
	-webkit-appearance: none;
	width: 100px;
	height: 100px;
	border: 2px solid red;
	outline: none;
}
input[type="checkbox"]:checked{
	background: yellow;
	border: 2px solid blue;
}
